.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-left: 24px;
  padding-bottom: 92px;
  padding-right: 24px;
}

.header_menu {
  display: flex;
  justify-self: center;

}

.menu_links {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px; 
  text-decoration: underline;
}

.main_link_marker {
  list-style-type: none; 
  text-decoration: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  height: 105px;
}

.address {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  font-style: normal;  
}


.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center; 
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cover_title { 
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 165px 50px 147px;
  gap: 20px;   
} 
 
.cover_title span { 
  font-size: 100px; 
  font-weight: 700;  
  line-height: 100%;  
}

.text_cover {
  display: block;
  line-height: 125px;
}

.text_center {
  text-align: center;
  line-height: 125px;
}

.text_right {
  text-align: right;
  line-height: 120px;  
}

.text_cover { 
  letter-spacing: 30px;
}

.text_cover .no_letter_spacing {
  letter-spacing: 0px;
}

.text_cover .letter_spacing {
  letter-spacing: 60px;
}

.cover_description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 50px 55px 78px;
  gap: 79px;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
}


.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px 181px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  gap: 25px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: -0.09em;
  z-index: 2;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.card__text {
  z-index: 2;
  line-height: 120%;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.lots__look-more-link {
  font-size: 20px;
  text-underline-position: under;
  text-underline-offset: 0.05em;
  padding: 30px 0 0 40px;
}




.about {
  margin-top: 148px;
}

.about_container {
  display: flex;
  justify-content: space-around;
  gap: 72px;
  padding: 34px 24px 0px;
}

.about_logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.title_about {
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about_text {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text_up {
  padding-top: 76px;
}

.text_down {
  padding-top: 25px;
}

.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
  align-items: flex-start;
}

.footer_address {
  font-style: normal;
  padding-left: 0px; 
}

.footer_menu {
  padding-left: 35px;
}

.footer_menu_links {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer_links {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer_main {
  text-decoration: none;
}

.images_footer {
  width: 48px;
  height: 48px;
}

.footer_images {
  display: flex;
  gap: 48px;
}